<br>
<br>
<br>

<div class="row">
  <div class="col-sm-8">
      <div class="row justify-content-center">
          <div class="col-sm-12 text-center">
            Registro


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">userName</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" #nombre >
              </div>



              <button class="btn btn-outline-dark"  (click)=" cargarNombre(nombre.value)">
                <!-- <img src="" alt="usuario" class="img-fluid"> -->
                <h4> ACEPTAR </h4>
             </button>


              
            





          </div>
        </div>
  </div>
</div>



